
.fa{width:16px;font-size:1.23em;text-align:center}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}
button,input{line-height:normal}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button,input[type=button],input[type=reset],input[type=submit],input[type=radio],input[type=checkbox],label,select{cursor:pointer}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
textarea{overflow:auto;vertical-align:top}
p{margin:0 0 10px}
.lead{margin-bottom:20px;font-size:18px;font-weight:200;line-height:30px}
small{font-size:85%}
strong{font-weight:700}
em{font-style:italic}
cite{font-style:normal}
.text-warning{color:#c09853}
.muted{color:#999}
a.muted:focus,a.muted:hover{color:gray}
a.text-warning:focus,a.text-warning:hover{color:#a47e3c}
.text-error{color:#d9534f}
a.text-error:focus,a.text-error:hover{color:#c9302c}
.text-info{color:#3a87ad}
a.text-info:focus,a.text-info:hover{color:#2d6987}
.text-success{color:#56af45}
a.text-success:focus,a.text-success:hover{color:#448a37}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
h1,h2,h3,h4,h5{margin:5px 0;font-weight:blod;line-height:35px;color:inherit;text-rendering:optimizelegibility}
.action,.article-content a.dl,.fenye a span,.social a,button.btn{transition-duration:.5s;-webkit-transition-duration:.5s;transition-timing-function:cubic-bezier(.445,.05,.55,.95);-webkit-transition-timing-function:cubic-bezier(.445,.05,.55,.95)}
.page-header{padding-bottom:9px;margin:20px 0 20px;border-bottom:1px solid #eee}
ol,ul{padding:0;margin:0;list-style:none}
li{line-height:20px}
ol.inline,ul.inline{margin-left:0;list-style:none}
ol.inline>li,ul.inline>li{display:inline-block;padding-left:5px;padding-right:5px}
hr{margin:20px 0;border:0;border-top:1px solid #eee;border-bottom:1px solid #fff}
code,pre{padding:0 3px 2px;font-family:Consolas,"Bitstream Vera Sans Mono","Courier New",Courier,monospace!important;color:#444;border-radius:3px}
code{padding:2px 4px;color:#d14;background-color:#fbfbfb;border:1px solid #e1e1e8;white-space:nowrap;font-size:14px}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:11px;line-height:20px;word-break:break-all;word-wrap:break-word;white-space:pre;white-space:pre-wrap;background-color:#f5f5f5;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:2px}
pre.prettyprint{margin-bottom:20px}
pre code{padding:0;color:inherit;white-space:pre;white-space:pre-wrap;background-color:transparent;border:0}
.pre-scrollable{max-height:340px;overflow-y:scroll}
.close{float:right;font-size:20px;font-weight:700;line-height:20px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}
.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}
button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}
.clearfix:after,.clearfix:before{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

body{margin:0;font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#555;background-color:#eee;overflow-x:hidden;}
.article-content iframe{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0;margin-left:-30px}
a{color:#00a67c;text-decoration:none}
a:focus,a:hover{color:#007046;text-decoration:none}
::-moz-selection{background:#72d0eb;color:#fff;text-shadow:none}
.container{max-width:1226px;margin:0 auto;text-align:left;position:relative}
.container:after,.container:before,.footer:after,.footer:before,.header:after,.header:before{display:table;content:"";line-height:0}
.container:after,.footer:after,.header:after{clear:both}
.header{top: 0px;width:100%;z-index:999;}
.container{margin-top:10px;margin-bottom:10px;}
.content-wrap{float:left;width:100%}
.content{margin-right:370px}
.content .widget{display:none}
.contentmargin{margin-right:0}
.content-page{position:relative;background-color:#fff}
.page-sidebar{width:225px;position:absolute;top:0;left:0;bottom:0;height:100%;border-right:1px solid #eee}
.content-title{font-size:20px;font-weight:400;padding:15px 20px 14px;line-height:20px;background-color:#f7f7f7;margin:0 0 1px;border-bottom:1px solid #eee}
.sidebar{float:left;margin-left:-360px;width:360px;position:relative}
.trackcode{float:right}
.footer-inner{max-width:1226px;padding:16px 20px 14px;margin:0 auto;color:#aaa;text-shadow:0 -1px 0 #333}
.footer-inner:after,.footer-inner:before{display:table;content:"";line-height:0}
.footer-inner:after{clear:both}
.footer a{color:#aaa}
.footer a:hover{color:#ddd;text-decoration:underline}
fieldset{padding:0;margin:0;border:0}
legend{display:block;width:100%;padding:0;margin-bottom:20px;font-size:18px;line-height:40px;color:#444;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
button,input,label,select,textarea{font-weight:400;line-height:20px;}
label{display:block;margin-bottom:5px}
input,select,textarea{display:inline-block;height: 30px;margin-bottom:10px;line-height:20px;color:#555;border-radius:0;vertical-align:middle;}
textarea{height:auto}
input,textarea{background-color:#fff;border:1px solid #d9d9d9;border-top-color:silver;border-left-color:#d0d0d0;-webkit-transition:border linear .2s;-moz-transition:border linear .2s;transition:border linear .2s}
input:focus,input:hover,textarea:focus,textarea:hover{border-color:#999}
input[type=radio],input[type=checkbox]{margin:4px 0 0;margin-top:1px\9;line-height:normal}
input[type=button],input[type=reset],input[type=submit],input[type=radio],input[type=checkbox],input[type=file],input[type=image]{width:auto}
input[type=file],select{height:30px;line-height:30px}
.form-actions{padding:19px 20px 20px;margin-top:20px;margin-bottom:20px}
.form-actions:after,.form-actions:before{display:table;content:"";line-height:0}
.form-actions:after{clear:both}
.btn{display:inline-block;padding:6px 12px 4px;margin-bottom:0;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;border:0;border-radius:0;font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif}
.btn[type=submit]{height:30px}
.btn:focus,.btn:hover{text-decoration:none}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn.active,.btn:active{outline:0}
.btn.disabled,.btn[disabled]{cursor:default;opacity:.65;filter:alpha(opacity=65)}

input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block{width:100%}
button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner{padding:0;border:0}

.nav{margin-left:0;margin-bottom:20px;list-style:none}
.nav i{display:inline-block;vertical-align:text-bottom}
.nav>li>a{display:block}
.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#eee}
.nav>li>a>img{max-width:none}
.nav>.pull-right{float:right}
.nav-header{display:block;padding:3px 15px;font-size:11px;font-weight:700;line-height:20px;color:#999;text-shadow:0 1px 0 rgba(255,255,255,.5);text-transform:uppercase}
.nav li+.nav-header{margin-top:9px}

.nav>.disabled>a{color:#999}
.nav>.disabled>a:focus,.nav>.disabled>a:hover{text-decoration:none;background-color:transparent;cursor:default}
#header{background:#1abc9c;position:relative}
.container-inner{max-width:1226px;width:100%;margin:0 auto;text-align:center;position:relative}
.sub-menu{min-width:130px;left:0;max-height:0;position:absolute;top:100%;z-index:0;-webkit-perspective:400px;-moz-perspective:400px;-ms-perspective:400px;-o-perspective:400px;perspective:400px}
.sub-menu li{opacity:0;-webkit-transform:rotateY(90deg);-moz-transform:rotateY(90deg);-ms-transform:rotateY(90deg);-o-transform:rotateY(90deg);ransform:rotateY(90deg);-webkit-transition:opacity .4s,-webkit-transform .5s;-moz-transition:opacity .4s,-moz-transform .5s;-ms-transition:opacity .4s,-ms-transform .5s;-o-transition:opacity .4s,-o-transform .5s;transition:opacity .4s,transform .5s}
.nav>li:focus .sub-menu,.nav>li:hover .sub-menu{max-height:1000px;z-index:10}
.nav>li:focus .sub-menu li,.nav>li:hover .sub-menu li{opacity:1;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none}
.nav li:hover .sub-menu li:nth-child(1){-webkit-transition-delay:0;-moz-transition-delay:0;-ms-transition-delay:0;-o-transition-delay:0;transition-delay:0}
.nav li:hover .sub-menu li:nth-child(2){-webkit-transition-delay:50ms;-moz-transition-delay:50ms;-ms-transition-delay:50ms;-o-transition-delay:50ms;transition-delay:50ms}
.nav li:hover .sub-menu li:nth-child(3){-webkit-transition-delay:.1s;-moz-transition-delay:.1s;-ms-transition-delay:.1s;-o-transition-delay:.1s;transition-delay:.1s}
.nav li:hover .sub-menu li:nth-child(4){-webkit-transition-delay:150ms;-moz-transition-delay:150ms;-ms-transition-delay:150ms;-o-transition-delay:150ms;transition-delay:150ms}
.nav li:hover .sub-menu li:nth-child(5){-webkit-transition-delay:.2s;-moz-transition-delay:.2s;-ms-transition-delay:.2s;-o-transition-delay:.2s;transition-delay:.2s}
.nav li:hover .sub-menu li:nth-child(6){-webkit-transition-delay:250ms;-moz-transition-delay:250ms;-ms-transition-delay:250ms;-o-transition-delay:250ms;transition-delay:250ms}
.nav li:hover .sub-menu li:nth-child(7){-webkit-transition-delay:.3s;-moz-transition-delay:.3s;-ms-transition-delay:.3s;-o-transition-delay:.3s;transition-delay:.3s}
.nav li:hover .sub-menu li:nth-child(8){-webkit-transition-delay:350ms;-moz-transition-delay:350ms;-ms-transition-delay:350ms;-o-transition-delay:350ms;transition-delay:350ms}

.navbar .btn-navbar{display:none;float:right;padding:5px 8px 6px;margin-left:5px;margin-right:5px;margin-top:11px;background-color:#16a085}

.toggle-search{position:absolute;margin-top:0;right:0;padding:16px 19px 16px 19px;height:20px;background:#16a085;color:#fff;cursor:pointer;-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-o-transition:all .25s ease-out;transition:all .25s ease-out}
.toggle-search.active,.toggle-search:hover{opacity:.75}

.searchform div{position:relative}
.searchform div input{margin:0;padding-left:26px;line-height:20px}
.searchform div:after{color:#ccc;line-height:24px;font-size:14px;content:"\f002";position:absolute;left:10px;top:8px;font-family:FontAwesome}
.searchform div input.search{padding-left:30px;height:31px;font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif}

.pagination2{padding:20px 0 15px 0;background-color:#fff;text-align:center}
.pagination2 ul{display:inline-block;margin-left:0;margin-bottom:0}
.pagination2 ul>li{display:inline}
.pagination2 ul>li>a,.pagination2 ul>li>span{margin:0 3px;float:left;padding:4px 12px 3px;line-height:20px;text-decoration:none;background-color:#eee;color:#666}
.pagination2 ul>li>a:focus,.pagination2 ul>li>a:hover{background-color:#6fc299;color:#fff}
.pagination2 ul>.active>a,.pagination2 ul>.active>span{background-color:#00a67c;color:#fff}
.pagination2 ul>.active>a,.pagination2 ul>.active>span{cursor:default}
.pagination2 ul>.disabled>a,.pagination2 ul>.disabled>a:focus,.pagination2 ul>.disabled>a:hover,.pagination2 ul>.disabled>span,.pagination2 ul>li>span{color:#999;background-color:transparent;cursor:default}

.pagination-loading{text-align:center;color:#666;line-height:39px}
.commentnav .current,.commentnav .page-numbers,.commentnav a{padding:4px 12px 3px;color:#666;display:inline-block;background-color:#eee;margin:0 1px}
.commentnav .current{background-color:#00a67c;color:#fff}
.rollto{position:fixed;right:20px;bottom:70px;z-index:999;width:32px;display:none}
.rollto .btn{margin-top:2px;padding:9px 10px 9px;height:36px}
.rollto .btn i{margin-top:0}
.rollto .btn{-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.speedbar{clear:both;color:#666;background-color:#fbfbfb;padding:8px 20px 18px;line-height:25px;overflow:hidden;height:14px;margin-bottom:10px}
.speedbar i{opacity:.5;filter:alpha(opacity=50)}
.speedbar .btn-group{float:right;margin-left:6px}

.btn .badge,.btn .label{position:relative;top:-1px}
.btn-mini .badge,.btn-mini .label{top:0}
.fade{opacity:0;-webkit-transition:opacity .15s linear;-moz-transition:opacity .15s linear;transition:opacity .15s linear}
.fade.in{opacity:1}
.pull-right{float:right}
.pull-left{float:left}
.hide{display:none}
.show{display:block}
.invisible{visibility:hidden}
.affix{position:fixed}

.title{position:relative;height:45px;border-bottom:1px solid #90bba8;margin:5px 20px}
.title h2{font-size:16px;font-weight:400;line-height:45px;color:#1abc9c;}
.excerpt{background-color:#fff;padding: 20px 15px 30px 20px;margin-bottom:10px;position:relative;clear:both;}
.excerpt:after,.excerpt:before{display:table;content:"";line-height:0}
.excerpt:after{clear:both}
.excerpt-nothumbnail{padding-left:20px}
.excerpt header{margin:0 10px 15px 0}
.excerpt .focus{float:left;margin:0 20px 0 0;text-align:center;position:relative;overflow:hidden;display:table}
.excerpt .focus a{display:table-cell;vertical-align:middle}
.excerpt .focus a img{margin:0 auto;display:block;-webkit-transition:-webkit-transform .3s linear;-moz-transition:-moz-transform .3s linear;-o-transition:-o-transform .3s linear;transition:transform .3s linear}
.excerpt:hover .focus a img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.excerpt p.auth-span{float:right;position:absolute;bottom:0;right:0}
.excerpt header .label{margin-right:5px;position:relative;top:-2px;padding:2px 6px 4px}
.excerpt h2{display:inline;font-size:20px;margin:0;font-weight:400;position:relative;top:1px;line-height:25px}
.excerpt .note{color:#777;line-height:24px;margin-bottom:0}
.excerpt .itag a{border-style:solid;border-width:1px;border-color:#e2e2e2 #ddd #ddd #e2e2e2;display:inline-block;margin-right:3px;border-radius:1px;padding:0 5px;line-height:18px}
.article-header .cate,.article-header .muted,.excerpt .muted{margin-right:20px}
.excerpt .muted .action,.hot-posts .muted .action{background-color:#fff!important;border:0;padding:0;color:#f78585!important;font-size:13px}
.excerpt .muted .action i,.hot-posts .muted .action i{margin-right:1px!important}
.hot-posts .muted{margin-left:20px}
.excerpt .muted{font-size:13px}
.excerpt .excerpt-block{display: block;text-align: center;}
.queryinfo{padding-bottom:6px}
.page .article-header{padding:8px 20px}
.breadcrumbs{margin:0 0 1px;padding:9px 20px 7px;background-color:#f7f7f7}
.breadcrumbs small{font-size:12px;color:#bbb;margin:0 2px;font-weight:700}
.article-header{padding:2px 20px 12px;background-color:#fff;border-bottom:1px solid #eee}
.article-title{padding:5px 0;text-align: center;}
.article-title a{color:#444;font-weight:400;font-size:30px;line-height:60px}
.article-content{font-size:1.2em;line-height:1.8em;word-break:break-all;word-wrap:break-word;position:relative;padding:10px 20px 20px 20px;background-color:#fff;}
.article-content h2{font-size:18px;font-weight:blod;margin:20px -20px 20px -24px;padding:10px 20px 9px 10px;line-height:18px;border-left:4px solid #00a67c;background-color:#fbfbfb}
.article-content h3{font-size:16px;font-weight:blod}
.article-content h4{font-size:15px;font-weight:blod}
.article-content p{}
.article-content li{text-indent:0;line-height:33px}
.article-content table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:16px;text-indent:0}
.article-content table th{background-color:#f9f9f9;text-align:center}
.article-content table td,.article-content table th{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}
.article-content .alignleft{float:left;text-align:left;margin-right:10px}
.article-content .aligncenter{margin:0 auto;text-align:center;display:block}
.article-content .alignright{float:right;text-align:right;margin-left:10px}
.article-content a{color:#00a67c}
.article-content a:hover{color:#d9534f}
.article-content a.dl{border:2px solid #fff;border-radius:2px;margin:10px 5px 20px 25px;box-shadow:0 0 0 1px #EEE;color:#fff;display:inline-block;text-align:center;padding:8px 16px;cursor:pointer;vertical-align:text-bottom;background:#5fbaac;text-indent:0}
.article-content a.dl i{margin-right:10px;vertical-align:inherit}
.article-content a.dl:hover{background:#f78585}
.article-content img{margin:0 auto;display:block}
.article-info-text{margin-top:15px;font-size:14px}
.article-content blockquote{margin:15px auto;border:1px solid #d6e9c6;border-left-width:3px;padding:5px 15px 10px;background-color:#fafcf9;font-size:14px}
.article-content blockquote:before{position:absolute;left:0;padding-left:36px;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;color:#c4c4c4;text-indent:0;margin-top:10px;content:"\f10d"}
.article-content blockquote p{margin:6px 0 5px 0;padding:0;font-size:14px}
.article-content blockquote li{margin-bottom:5px;line-height:25px}
.article-nav{border-top:1px solid #f2f2f2;background-color:#fbfbfb;overflow:hidden;padding:15px 20px;font-size:15px;color:#bbb}
.article-nav span{float:left;position:relative;max-width:50%}
.article-nav span.article-nav-next{float:right;text-align:right}
.relates{overflow:hidden;background-color:#fff;border-top:1px solid #f2f2f2;margin-bottom:10px}
.relates h3{font-size:15px;line-height:15px;border-bottom:1px dotted #e4e4e4;padding:15px 20px 10px;margin-bottom:0}
.relates ul{padding: 15px 0 15px 20px;overflow:hidden;}
.relates li{float:left;width:49%;height:30px;overflow:hidden;line-height:30px;color:#bbb}
.relates li i{vertical-align:middle}
.relates a{margin-right:20px;}
.divcss5 a{margin:0 auto;} 

.meta-tit{border-bottom:solid 1px #e6e6e6;padding:0 0 10px;margin-bottom:20px}
.widget{clear:both;margin-bottom:10px;background-color:#fff}
.widget h2 .btn{position:absolute;top:15px;right:10px;font-weight:400;padding:1px 5px 1px;color:#fff;background-color:#5fbaac;font-size:13px}
.widget-notip{line-height:20px;color:#666;border-top-color:red}
.widget ul:after,.widget ul:before{display:table;content:"";line-height:0}
.widget ul:after{clear:both}
.widget-notip h3{margin-bottom:13px}

.widget_links ul{padding:5px 0 15px 12px}
.widget_links li{width:50%;float:left}
.widget_links li a{background-color:#fff;padding:5px 8px;display:inline-block;width:136px}
@-ms-viewport{width:device-width}
.article-content pre{background-color:#f8f8f8;border:1px solid #eee;overflow:hidden;padding:8px;font-size:14px}
.navbar .screen-mini{display:none}
.erweima{display:none}
.meta {text-align:left}
@media(max-width:979px){.yusi-logo h1{float:none}
.navbar{background-color:transparent;height:auto}
.navbar .nav{float:none;padding:0;background-color:#eee;margin-right:0;display:none}
.navbar .nav>li{float:none;margin-right:0;font-weight:700}
.navbar .nav>li>a{padding:10px 20px 9px;border-bottom:1px solid #ddd;color:#444}
.navbar .nav li a:hover{background-color:#fff;color:#444}
.navbar .nav ul{display:block}
.navbar .nav>li>ul{position:relative;display:block;top:0;left:0;padding-bottom:0;font-weight:400}
.navbar .nav>li>ul>li>ul{position:relative;display:block;top:0;left:0;padding-bottom:0}
.navbar .nav>li>ul>li{float:none;margin:0;position:relative;border-bottom:1px solid #ddd}
.navbar .nav>li>ul>li>a,.navbar .nav>li>ul>li>ul>li>a{float:none;display:block;padding:10px 20px 9px 50px;color:#444}
.navbar .nav>li>ul>li>ul>li>a{padding-left:80px}
.navbar .nav li li.current-menu-item a,.navbar .nav>li>ul>li>a:hover{color:#444}
.navbar .nav li li a:hover,.navbar .nav li li.current-menu-item a{background-color:#fff}
.navbar .nav li ul,.navbar .nav li.current-menu-item a,.navbar .nav li.current-menu-parent a,.navbar .nav li.current-post-ancestor a,.navbar .nav li.current_page_item a,.navbar .nav li:hover a{background-color:#eee;color:#444;display:block}
.screen-search,.speedbar,.yusi-bloger{display:none}
.content .widget {
    display: block;
}
.sidebar{display:none}
.content{margin-right:0}
.header{margin-bottom:1px}
.footer-inner{border-left:0}
.share{display:none}
.navbar .menu{float:none;margin:0 20px 10px;text-align:center}
.navbar .menu .btn-group{float:none;display:inline-block;margin-top:-24px}
.tag-clouds li{width:50%}
.navbar .btn.screen-nav{padding:11px 8px;height:auto;position:absolute;top:0;left:0;background-color:transparent;background: url(../images/1.gif) no-repeat 5px center;}
.navbar .btn.screen-nav:hover{background-color:transparent;}

.sub-menu{max-height:none}
.sub-menu li{opacity:1;-webkit-transform:inherit;-moz-transform:inherit;-ms-transform:inherit;-o-transform:inherit;ransform:inherit;-webkit-transition:opacity .4s,-webkit-transform .5s;-moz-transition:opacity .4s,-moz-transform .5s;-ms-transition:opacity .4s,-ms-transform .5s;-o-transition:opacity .4s,-o-transform .5s;transition:opacity .4s,transform .5s}
.navbar .nav>li>ul>li{background-color:inherit}
}
@media(max-width:767px){
  .article-nav span{float:left;position:relative;max-width: 100%;padding-bottom: 5px;}
  .article-nav span.article-nav-next{float:left;text-align:left}
  .article-title a{font-size:17px;line-height:25px}
.archive-header-info,.comt-comterinfo ul .help-inline,.page-sidebar,.pagesidebar,.relates li img,.speedbar{display:none}
.header{position:relative;}
.relates li{float:none;width:100%}
.relates li span{float:right;margin-right:1em}
.relates a{height:auto;text-align:left;line-height:14px;border-left:0;margin:0}

.excerpt,.excerpt:hover{padding: 10px 15px 30px 15px;}
.excerpt header h2{font-size:16px;line-height:20px;display:block}
.excerpt header .label,.excerpt p.auth-span{}
.excerpt header{margin-bottom:5px;margin-right:0}
.excerpt span.note{display:block;height:60px;padding-top:3px;overflow:hidden;line-height:20px}
}
@media(max-width:334px){.yusi-mono{font-size:32px!important}
.article-title a{line-height:25px}
.article-header .muted{margin-right:6px}
.excerpt header h2{display:block;font-size:16px}


}
#foot{display:none}
.tui .{display:none}

.footer{background:#333;border-top:8px solid #00a67c;-webkit-box-shadow:0 -5px 0 rgba(0,0,0,.1);-moz-box-shadow:0 -8px 0 rgba(0,0,0,.1);box-shadow:0 -8px 0 rgba(0,0,0,.1);position:relative}


.hot-posts{clear:both;background-color:#fff}
.hot-posts a{font-size:15px}
.hot-posts h2{line-height:45px;font-weight:400;color:#1abc9c;font-size:16px}
.hot-posts ul{margin:0 20px 10px;padding:15px 0 10px;list-style:none;overflow:hidden}
.hot-posts li{overflow:hidden;clear:both;height:30px;line-height:30px}
.hot-posts p{float: left;font-size:14px;color:#777;font-size:13px;margin-top: 3px;}
.hot-posts .label{margin-right:8px;padding:2px 7px;top:-1px;color: #fff;}
.label-1{background-color:#fd8c84}
.label-2{background-color:#6fc299}
.label-3{background-color:#81c1f2}

.bookcase{display:none}

@media(max-width:980px){
.bookcase{display:block;position:absolute;right:0;top:40px;padding:8px 6px;height:auto;background-color:transparent;color:#FFF}
}
.pagination2{padding:20px 0 15px 0;background-color:#fff;text-align:center;text-indent:0;}
.pagination2 ul{display:inline-block;margin-bottom:0;margin-left:0;}
.pagination2 ul>li{display:inline;}
.pagination2{clear:both;margin:5px 0;padding:5px 0;width:100%;text-align:center;}
.pagination2 a{clear:both;display:inline-block;margin:0 3px 3px 0;padding:4px 12px;border:1px solid #ddd;border-radius:2px;background-color: #eee;color: #555;}
.pagination2 a:hover{color:#eee;background-color:#00a67c;}
.pagination2 ul>li>a:focus,.pagination2 ul>li>a:hover{background-color:#6fc299;color:#fff;}
.pagination2 ul>.active>a,.pagination2 ul>.active>span{background-color:#00a67c;color:#fff;}
.pagination2 ul>.active>a,.pagination2 ul>.active>span{cursor:default;}
.pagination2 ul>.disabled>a,.pagination2 ul>.disabled>a:focus,.pagination2 ul>.disabled>a:hover,.pagination2 ul>.disabled>span,.pagination2 ul>li>span{background-color:transparent;color:#999;cursor:default;}
.more{float:right;}
.g-logo {padding:0.8em 0}

.meta {text-align:center}
.d_postlist{padding:0 20px}
.d_postlist .title{margin:5px 0}
.d_postlist ul{padding:0 0 20px}
.d_postlist li a{position:relative;display:block;overflow:hidden;padding:5px 0 5px 5px;font-size:14px}
.d_postlist li a:hover{color:#d9534f}
.d_postlist .text{margin:5px 0 0 0;display:block;max-height:50px;overflow:hidden;line-height:24px}
.d_postlist .thumbnail{float:left;margin-left:-90px;margin-top:10px;margin-right:10px}
.d_postlist .thumbnail img{max-width:100px;max-height:64px;display:block;margin:0 auto}
.d_postlist .nopic li a{padding:8px 0}
.d_postlist .nopic .text{margin-top:0}

.column4 {
    width: 33%;
    height: 41px;
    line-height: 41px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #EbEbEb;
    text-align: left;
    padding: 0 1em;
    float: left;
    overflow: hidden;
}
.column4 a {
color: #555;
    text-decoration: none;
    display: block;
}
.header .top{ height:95px;display:block; }
.viture{margin:0 auto;max-width: 1126px;}
.logo{ float:left; background:url(img/logo.png) no-repeat center; width:229px; height:60px; margin:19px 0 0 -90px;}
.logo a{ display:block; width:100%; height:100%;}
.ranking{ float:left; margin:42px 0 0 60px; font-size:14px; line-height:100%;}
.ranking a{display:inline-block;padding:0 18px;line-height:14px;border-left:1px solid #ddd;margin-right:7px;}
.ranking a.quan{ background: url(img/quan.png) no-repeat left center; padding-left:24px; border: none;}
.ranking a.rank{ background: url(img/rank.png) no-repeat left center; padding-left:22px; border: none;}
.ranking a.up{ background: url(img/up.png) no-repeat left center; padding-left:24px; border: none;}

.so{float: left;margin: 35px 16px 0 56px;display:none;border-radius: 2px;}
.so .text,.so .botton{ float:left;}
.so .text{display:block;width:200px;height:26px;line-height:26px;padding:0 10px;outline:none;color:#777;border-radius: 0;}
.so .botton{width:46px;text-align:center;background: #a2a9a0  no-repeat center;border:0;font-size:12px;cursor:pointer;line-height:28px;height:28px;color:#fff;outline:none;border-radius: 0 2px 2px 0;border-radius: 0;}
.navs{font-size:14px;height: 52px;font-family:"\5fae\8f6f\96c5\9ed1";background: #1abc9c;}
.navs ul{height: 52px;max-width: 1226px;margin:0 auto;overflow:hidden;}
.navs ul .ihome{background: #16a085;}
.navs ul li{float:left;width:96px;height: 52px;line-height: 52px;text-align:center;}
.navs ul li a{ display:block; color:#fff;font-size:16px}
.navs ul li a:hover,.navs ul li a.current{background: #16a085;color:#fff;text-decoration:none;}
@media screen and (max-width: 800px) {
 .article-title{font-size: 15px;}
.container {margin:0;}
.header{overflow: hidden;background-color: #fff;margin: 0;padding: 0;}
.header .top { height: auto; }
.header .top{display:none}
.viture { width: auto; min-width: 320px; margin: 0 auto; padding-top:10px;}
.logo {background: url(img/logo.png) no-repeat 5px center;background-size:auto 45px;width: 45%;height: 45px;margin: 0 0 10px;}
.ranking {float: right;width: 50%;margin: 0;font-size: 14px;line-height: 20px;height: 45px;overflow: hidden;}
.viture .ranking a {padding: 0;line-height:20px;border-left: 0;margin: 0;background: none;}
.ranking a.quan,.ranking a.rank,.ranking a.up {padding:0;margin: 0 0 0 1em;background-position:3% center;}
.so {float: none;width: 100%;margin: 10px 10px 0;height:38px;line-height:38px;border-radius: 0;box-shadow:none;clear: both;display:block}
.so .text {display: block;width: 58%;padding:0 3%;height:36px;line-height: 38px;}
.so .screening .selectlist{top:37px;width:100%; line-height:36px;}
.so .botton{width:20%;height: 38px;line-height: 36px;padding: 0;}
.so .screening{width:15.3%; height:36px;line-height:36px;}
.navs { height: auto; border-bottom: 0;clear: both;overflow: hidden;}
.navs ul { height: 72px; margin: 0 auto; overflow: hidden; width: auto; }
.navs ul li {float: left;width: 20%;height: 36px;line-height: 36px;text-align: center;}
.navs ul li.ihome,.gg250{background: #4a4a4a;}
.navs ul li a{font-size: 15px;}
.article-header ,.article-content,.pagination2{
   background: url(bg.gif);
}
}
#show-more {
margin:0 auto;
position: relative;
font-size: 0.875rem;
line-height: 1.8rem;
width: 10rem;
height: 1.8rem;
margin: 0.75rem auto 1.25rem;
cursor: pointer;
text-align: center;
-webkit-border-radius: 50px;
border-radius: 50px;
color: #22BF81;
border: 1px solid #22BF81;
}
.con_pc {
    text-align: center;
}